// 색상추가시 palette.ts 에도 타입명시

$white: #FFFFFF !default;
$black: #000000 !default;
$gray50: #F6F6F6 !default;
$gray75: #F5F5F5 !default;
$gray100: #F3F3F3 !default;
$gray200: #EEEEEE !default;
$gray250: #EBEBEB !default;
$gray300: #DDDDDD !default;
$gray400: #C8C8C8 !default;
$gray500: #CCCCCC !default;
$gray600: #999999 !default;
$gray700: #666666 !default;
$gray800: #333333 !default;
$gray900: #111111 !default;
$red200: #FF0000 !default;
$red100: #FF3317 !default;
$red50: #FF5A5A !default;
$pink50: #FF5689 !default;
$orange50: #F87904 !default;
$green50: #22EC42 !default;
$green100: #51D285 !default;
$blue100: #00A3FF !default;