.setting-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  height: 100%;
  flex: 1;
}

.profile-box {
  border-radius: 6px;
  border: 1px solid #dddddd;
  padding: 20px;
  margin: auto;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      gap: 10px;

      .title {
        min-width: 80px;
        flex: 1;
      }

      .desc {
        flex: 2;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 20px;
  right: 20px;
}

.menu-container {
  position: relative;
  & > button {
    margin: 0;
    padding: 0;
    background-color: white;
  }
}

.menu-box {
  position: absolute;
  top: 40px;
  left: -70px;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  width: 100px;

  ul {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}