:global {
  $white: #FFFFFF !default;
  $black: #000000 !default;
  $grayEEE: #EEEEEE !default;
  $grayDDD: #DDDDDD !default;
  $grayCCC: #CCCCCC !default;
  $grayDF: #dfdfdf !default;
  $gray666: #666666 !default;
  $gray333: #333333 !default;
  $gray111: #111111 !default;
  $red: #F05B5B !default;
  $blue: #41A1EA !default;
  $green: #1DC961 !default;
}